<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario de cadastro de noticias</title>
</head>
<body>
	<h1>Adicionar noticias</h1>
	<br/>

	<form action="/noticias/salvar" method="post">
		<label for="">Titulo</label>
		<input type="text" id="titulo" name="titulo" placeholder="titulo da noticia"/>
		<br/>
		<label for="">Noticia</label>
		<textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
		<br/>
		<input type="submit" value="Enviar">
	</form>
	
</body>
</html>